.dashboard-container{
    background: rgb(240, 240, 240);
    height: 100vh;
    margin-left: 10vw;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    background: white;
    width: 80vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    box-shadow: 0 0 10px gray
}

.search-section{
    width: 80%;
    display: flex;
    align-content: center;
}

.input-box-dashboard{
    margin-right: 10px;
    height: 25px;
    border: 1px solid black;
    width: 80%;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

.search-btn{
    background: orange;
    border: none;
    align-self: center;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
}
.search-icon{
    font-size: 24px;
    color: white;
}

.reset-btn{
    color: white;
    background: black;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.posts{
    font-size: 100px;
}

.post-container{
    width: 80vw;
    height: 80px;
    background: white;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-title{
    display: inline;
}

.post-username{
    display: inline;
    font-size: 20px;
}

.post-profile-pic{
    height: 60px;
    width: auto;
}