.auth-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #FF70A6, #FF9770, #FFD670, #E9FF70)
}

.auth-section{
    height: 60%;
    width: 45%;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wink{
    font-size: 140px;
    color: white;
}

.auth-title{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.input{
    margin-bottom: 20px;
    font-size: 22px;
    color: white;
}

.input-box{
    margin-left: 5px;
    width: 50%;
}

.input-btn{
    color: white;
    font-size: 18px;
    border: none;
    height: 40px;
    background-image: linear-gradient(to right, rgb(34, 34, 34), rgb(83, 83, 83), rgb(34, 34, 34))
}

.input-btn:hover{
    cursor: pointer;
}

.left{
    margin-left: 15px;
    width: 100px;
}

.right{
    margin-right: 15px;
    width: 80px;
}